<html lang="en" >
   <head>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/landing-page.css">
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
       <script>
        /**
         * Initializes the Google API JavaScript client. Bootstrap the angular module after loading the Google libraries
         * so that Google JavaScript library ready in the angular modules.
         */
        function init() {
            gapi.client.load('greeting', 'v1', null, '//' + window.location.host + '/_ah/api');
            gapi.client.load('oauth2', 'v2', function () {
                angular.bootstrap(document, ['greetingApp']);
            });
        };
    </script>
       <script src="https://apis.google.com/js/client:plusone.js?onload=init"></script> 
   </head>
   <body  ng-controller="RootCtrl" >
    <!-- Header -->
    <div ng-show="!getSignedInState()" class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h2>Welcome to Greeting Help</h2>
                        <h3>Makes Greetings Easy and beautiful and great</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                            <md-button ng-hide="getSignedInState()" ng-click="signIn();" class="md-raised md-primary"> Sign In</md-button>
                            </li>
                            <li>
                            {{rootMessages}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </div>
      <md-toolbar class="md-primary" ng-show="getSignedInState()" >
         <div class="md-toolbar-tools">
         <md-button  class="md-raised" ng-show="getSignedInState()" ng-click="signOut();"> google+ SignOut</md-button>
         <span flex>{{rootMessages}}</span>
            </div>
      </md-toolbar>
      <md-content flex ng-if="getSignedInState()">
        <md-tabs md-center-tabs>
  <md-tab label="Employee Submission"> This is form</md-tab>
  <md-tab label="Employee List"> This is List</md-tab>
         </md-tabs>
      </md-content>
   </body>
   
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

      <script src="JS/app.js" type="text/javascript"></script>
       <script src="JS/controllers.js" type="text/javascript"></script>
       <span id="signInButton" style="display: none" disabled="true"></span>
       
     
</html>